* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;

}
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #1f1f1f;
  }
  
  section {
    padding: 2rem 9%;
  }
  
  .heading {
    text-align: center;
    background: #1f1f1f;
  }
  
  .heading h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
  }
  
  .heading p {
    color: #fff;
    padding-top: .7rem;
    font-size: 1.7rem;
  }
  
  .heading p a {
    color: #fff;
  }
  
  .heading p a:hover {
    color: #333;
  }
  
  .title {
    font-size: 3rem;
    color: rgb(181, 181, 181);
    margin-bottom: 2rem;
    text-align: center;
    padding: 0 1rem;
  }
  
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 2.8rem;
    font-size: 1.7rem;
    color: rgb(180, 178, 178);
    border: 0.2rem solid rgb(180, 180, 180);
    background: none;
    cursor: pointer;
    border-radius: .5rem;
  }
  
  .btn:hover {
    background: #333;
    color: #fff;
  }
  
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgb(0, 0, 0);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 9%;
  }
  
  .header .logo {
    width: 80px;
    margin-right: auto;
  }
  
  .header .navbar ul {
    list-style: none;
  }
  
  .header .navbar ul li {
    position: relative;
    float: left;
  }
  
  .header .navbar ul li:hover ul {
    display: block;
  }
  
  .header .navbar ul li a {
    font-size: 1.7rem;
    color: #666;
    padding: 2rem;
    display: block;
  }
  
  .header .navbar ul li a:hover {
    background: rgb(165, 165, 165);
  }
  
  .header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 20rem;
    background: rgb(181, 181, 181);
    display: none;
  }
  
  .header .navbar ul li ul li {
    width: 100%;
  }
  
  .header .icons div,
  .header .icons a {
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    margin-left: 2rem;
  }
  
  .header .icons div:hover
  .header .icons a:hover {
    color: #949494;
  }
  
  .header .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: 0.2rem solid rgb(180, 180, 180);
    background: rgb(255, 255, 255);
    height: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .search-form.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .header .search-form input {
    width: 100%;
    height: 100%;
    padding-right: 1rem;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    text-transform: none;
  }
  
  .header .search-form label {
    font-size: 2.5rem;
    color: rgb(180, 180, 180);
    cursor: pointer;
  }
  
  .header .search-form label:hover {
    color: #949494;
  }
  
  #menu-btn {
    display: none;
  }
  @-webkit-keyframes fadeIn {
    0% {
      -webkit-transform: translateY(3rem);
              transform: translateY(3rem);
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      -webkit-transform: translateY(3rem);
              transform: translateY(3rem);
      opacity: 0;
    }
  }
  
  .home {
    padding: 0;
    position: relative;
  }
  
  .home .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 67rem;
    padding: 2rem 7%;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  
  .home .slide.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .home .slide .content span {
    color: rgb(180, 180, 180);
    display: block;
    font-size: 2rem;
    -webkit-animation: fadeIn .4s linear .2s backwards;
            animation: fadeIn .4s linear .2s backwards;
  }
  
  .home .slide .content h3 {
    color: rgb(180, 180, 180);
    text-transform: uppercase;
    padding: 1rem 0;
    font-size: 6rem;
    -webkit-animation: fadeIn .4s linear .4s backwards;
            animation: fadeIn .4s linear .4s backwards;
  }
  
  .home .slide .content .btn {
    -webkit-animation: fadeIn .4s linear .6s backwards;
            animation: fadeIn .4s linear .6s backwards;
  }
  
  .home #next-slide,
  .home #prev-slide {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    height: 6rem;
    width: 6rem;
    line-height: 5.5rem;
    font-size: 4rem;
    color: #333;
    border: 0.2rem solid #333;
    background: #fff;
    border-radius: .5rem;
    cursor: pointer;
    text-align: center;
  }
  
  .home #next-slide:hover,
  .home #prev-slide:hover {
    background: #333;
    color: #fff;
  }
  
  .home #prev-slide {
    right: 9rem;
}
ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #2a2a2a;
}

.wrapper {
  width: 611px;
  height: 400px;
  margin: 80px auto 0;
}
.wrapper .container {
  float: right;
  width: 600px;
  height: 400px;
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.wrapper .container .part {
  float: left;
  height: 100%;
}
.wrapper .container .part.card-details {
  padding: 48px 40px 0;
  width: 60%;
}
.wrapper .container .part.card-details h1 {
  background-color: #ababab;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 14px 0 10px 49px;
  letter-spacing: 1px;
  margin-left: -52px;
  width: 330px;
}
.wrapper .container .part.bg {
  width: 40%;
  background-image: url("https://s13.postimg.org/d8emjhccn/image.jpg");
  background-size: 121%;
  background-repeat: no-repeat;
  overflow: hidden;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.wrapper .container form {
  font-family: 'Work Sans', sans-serif;
}
.wrapper .container form .group {
  display: block;
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 25px;
}
.wrapper .container form .group label {
  font-size: 12px;
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
.wrapper .container form .group input {
  float: left;
  width: 100%;
  height: 30px;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  border: 0;
  color: #263238;
  border-bottom: 1px solid #d9d9d9;
}
.wrapper .container form .group input::-webkit-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #d9d9d9;
  text-align: left;
}
.wrapper .container form .group input:-moz-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #d9d9d9;
  text-align: left;
}
.wrapper .container form .group input::-moz-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #d9d9d9;
  text-align: left;
}
.wrapper .container form .group input:-ms-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #d9d9d9;
  text-align: left;
}
.wrapper .container form .group input:focus {
  outline: none;
  border-bottom-color: #00b0ff;
}
.wrapper .container form .group input:focus::-webkit-input-placeholder {
  color: transparent;
}
.wrapper .container form .group input:focus:-moz-placeholder {
  color: transparent;
}
.wrapper .container form .group input:focus::-moz-placeholder {
  color: transparent;
}
.wrapper .container form .group input:focus:-ms-input-placeholder {
  color: transparent;
}
.wrapper .container form .card-number {
  border-bottom: 1px solid #d9d9d9;
}
.wrapper .container form .card-number:first-of-type {
  margin-top: 32px;
}
.wrapper .container form .card-number input {
  width: 43px;
  border-bottom: 0;
}
.wrapper .container form .card-number.focused {
  border-bottom-color: #00b0ff;
}
.wrapper .container form .card-expiry {
  border-bottom: 0;
}
.wrapper .container form .card-expiry .input-item {
  float: left;
}
.wrapper .container form .card-expiry .input-item.expiry {
  width: 200px;
}
.wrapper .container form .card-expiry .input-item.expiry input:last-of-type {
  margin-left: 30px;
}
.wrapper .container form .card-expiry .input-item.csv {
  width: 80px;
  position: relative;
}
.wrapper .container form .card-expiry .input-item.csv a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  text-decoration: none;
  color: #00b0ff;
}
.wrapper .container form .card-expiry .input-item.csv a:hover {
  color: #263238;
}
.wrapper .container form .card-expiry .input-item label {
  width: 100%;
}
.wrapper .container form .card-expiry .input-item input {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 8px;
}
.wrapper .container form .card-expiry .input-item input.month {
  width: 60px;
}
.wrapper .container form .card-expiry .input-item input.year {
  width: 79px;
}
.wrapper .container form .card-expiry .input-item input.csv {
  width: 79px;
}
.wrapper .container form .card-expiry .input-item input:focus {
  border-bottom: 1px solid #00b0ff;
}
.wrapper .container form .submit-group {
  width: 100%;
  float: left;
  position: relative;
}
.wrapper .container form .submit {
  text-transform: uppercase;
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.4px;
  text-align: left;
  color: #263238;
  margin-left: 24px;
  cursor: pointer;
}
.wrapper .container form .submit:hover {
  text-decoration: underline;
}
.wrapper .container form .submit:focus {
  outline: none;
}
.wrapper .container form .arrow {
  position: absolute;
  top: -2px;
  left: -1px;
}
.wrapper .container form .arrow:before {
  content: '';
  width: 15px;
  height: 15px;
  background-image: url("https://s21.postimg.org/lgxvam5df/arrow.png");
  position: absolute;
  top: 4px;
  left: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .container form .arrow.rotate:before {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.credits {
  display: block;
  font-family: 'Work Sans', sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #263238;
  font-size: 12px;
  margin: 0 10px 10px 0;
}
.credits a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}
  .banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
  }
  
  .banner .box {
    position: relative;
    height: 30rem;
    overflow: hidden;
    border-radius: .5rem;
  }
  
  .banner .box:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .banner .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .banner .box .content {
    position: absolute;
    top: 50%;
    right: 2rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .banner .box .content span {
    font-size: 1.5rem;
    color: rgb(180, 179, 179);
  }
  
  .banner .box .content h3 {
    font-size: 2rem;
    color: rgb(180, 179, 179);
    padding-top: 1rem;
  }
  
  .banner .box .content .btn {
    padding: .6rem 2rem;
    font-size: 1.5rem;
  }
  
  .products .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
  }
  
  .products .box-container .box {
    border-radius: .5rem;
    text-align: center;
    border: 0.2rem solid #ababab;
  }
  
  .products .box-container .box:hover .image .icons {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  
  .products .box-container .box .image {
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    height: 25rem;
    width: 100%;
  }
  
  .products .box-container .box .image .icons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.2rem solid #ababab;
    -webkit-transform: translateY(-7rem);
            transform: translateY(-7rem);
  }
  
  .products .box-container .box .image .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #3e404a;
  }
  
  .products .box-container .box .image .icons a:hover {
    background: #ababab;
    color: #fff;
  }
  
  .products .box-container .box .image img {
    height: 125%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .products .box-container .box .content {
    padding: 1.5rem 0;
  }
  
  .products .box-container .box .content h3 {
    font-size: 2rem;
    color: #ababab;
  }
  
  .products .box-container .box .content .stars {
    padding: 1rem 0;
  }
  
  .products .box-container .box .content .stars i {
    font-size: 1.4rem;
    color: #ababab;
  }
  
  .products .box-container .box .content .price {
    font-size: 2.2rem;
    color: #ababab;
  }
  
  .products .box-container .box .content .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #ababab;
  }
  
  .about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  
  .about .row .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .about .row .image img {
    width: 100%;
    border-radius: .5rem;
  }
  
  .about .row .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .about .row .content h3 {
    font-size: 3.5rem;
    color: #333;
    line-height: 2;
  }
  
  .about .row .content p {
    font-size: 1.4rem;
    line-height: 2.5;
    color: #666;
    padding: 1rem 0;
  }
  
  .about .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    margin-top: 2.5rem;
  }
  
  .about .icons-container .icons {
    padding: 3rem 2rem;
    border-radius: .5rem;
    background-color: #fff;
    border: 0.2rem solid #333;
    text-align: center;
    cursor: pointer;
  }
  
  .about .icons-container .icons:hover {
    background: #333;
  }
  
  .about .icons-container .icons:hover img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  
  .about .icons-container .icons:hover h3 {
    color: #fff;
  }
  
  .about .icons-container .icons img {
    height: 7rem;
    margin-bottom: 1rem;
  }
  
  .about .icons-container .icons h3 {
    font-size: 1.7rem;
    color: #333;
  }
  
  .blogs .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
  }
  
  .blogs .box-container .box {
    border-radius: .5rem;
    overflow: hidden;
    border: 0.2rem solid #333;
  }
  
  .blogs .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .blogs .box-container .box .image {
    width: 100%;
    height: 25rem;
    overflow: hidden;
  }
  
  .blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .blogs .box-container .box .content {
    padding: 2rem;
  }
  
  .blogs .box-container .box .content h3 {
    font-size: 2rem;
    color: #333;
    line-height: 2;
  }
  
  .blogs .box-container .box .content p {
    font-size: 1.4rem;
    line-height: 2.5;
    color: #666;
    padding: 1rem 0;
  }
  
  .blogs .box-container .box .content .icons {
    border-top: 0.2rem solid #333;
    padding-top: 2rem;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .blogs .box-container .box .content .icons a {
    font-size: 1.4rem;
    color: #666;
  }
  
  .blogs .box-container .box .content .icons a:hover {
    color: #ababab;
  }
  
  .blogs .box-container .box .content .icons a i {
    padding-right: .5rem;
    color: #ababab;
  }
  
  .contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    width: 50%;
  }
  
  .contact .row form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    padding: 2rem;
    border-radius: .5rem;
    border: 0.2rem solid #333;
  }
  
  .contact .row form .box, .contact .row form textarea {
    width: 100%;
    border-bottom: 0.2rem solid #333;
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #666;
    text-transform: none;
  }
  
  .contact .row form textarea {
    height: 15rem;
    resize: none;
  }
  
  .contact .row .map {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    border-radius: .5rem;
    width: 100%;
  }
  
  .login-form form,
  .register-form form {
    margin: 1rem auto;
    max-width: 40rem;
    border-radius: .5rem;
    border: 0.2rem solid #333;
    padding: 2rem;
    text-align: center;
  }
  
  .login-form form h3,
  .register-form form h3 {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #333;
    margin-bottom: .7rem;
  }
  
  .login-form form .inputBox,
  .register-form form .inputBox {
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .5rem;
    background: #eee;
    padding: .5rem 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  
  .login-form form .inputBox span,
  .register-form form .inputBox span {
    color: #666;
    margin-left: 1rem;
    font-size: 2rem;
  }
  
  .login-form form .inputBox input,
  .register-form form .inputBox input {
    width: 100%;
    padding: 1rem;
    background: none;
    font-size: 1.5rem;
    color: #666;
    text-transform: none;
  }
  
  .login-form form .flex,
  .register-form form .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    margin-top: 1rem;
  }
  
  .login-form form .flex label,
  .register-form form .flex label {
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
  }
  
  .login-form form .flex a,
  .register-form form .flex a {
    font-size: 1.5rem;
    color: #666;
    margin-left: auto;
  }
  
  .login-form form .flex a:hover,
  .register-form form .flex a:hover {
    color: #ababab;
  }
  
  .login-form form input[type="submit"],
  .register-form form input[type="submit"] {
    background: #333;
    color: #fff;
  }
  
  .login-form form input[type="submit"]:hover,
  .register-form form input[type="submit"]:hover {
    background: #ababab;
  }
  
  .login-form form .btn,
  .register-form form .btn {
    width: 100%;
  }
  
  .shopping-cart .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .shopping-cart .box-container .box {
    border-radius: .5rem;
    border: 0.2rem solid #333;
    padding: 3rem 2rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  
  .shopping-cart .box-container .box .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #666;
  }
  
  .shopping-cart .box-container .box .fa-times:hover {
    color: #e84393;
  }
  
  .shopping-cart .box-container .box img {
    height: 10rem;
  }
  
  .shopping-cart .box-container .box .content h3 {
    font-size: 1.7rem;
    padding-bottom: .5rem;
    color: #333;
  }
  
  .shopping-cart .box-container .box .content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
    padding: 1rem 0;
  }
  
  .shopping-cart .box-container .box .content form span {
    color: #666;
    font-size: 1.5rem;
  }
  
  .shopping-cart .box-container .box .content form input {
    width: 8rem;
    font-size: 1.5rem;
    color: #666;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: #eee;
  }
  
  .shopping-cart .box-container .box .content .price {
    font-size: 2rem;
    color: #333;
  }
  
  .shopping-cart .box-container .box .content .price span {
    color: #666;
    font-size: 1.5rem;
    text-decoration: line-through;
  }
  
  .shopping-cart .cart-total {
    padding: 2rem;
    border-radius: .5rem;
    border: 0.2rem solid #333;
  }
  
  .shopping-cart .cart-total h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
  }
  
  .shopping-cart .cart-total h3 span {
    color: #ababab;
  }
  
  .footer{
    padding: 40px;
    background-color: rgb(28, 28, 28);
  }
  .footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #ababab;
  }
  .footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  .footer .social a:hover {
    opacity: 0.9;
  }
  .footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
  }
  .footer ul li a{
    color: #aaa;
    text-decoration: none;
    opacity: 0 15px;
  }
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  .footer ul li a:hover{
    opacity: 1;
  }
  .footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
  }

  @media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
    .header {
      padding: 0 2rem;
    }
    section {
      padding: 2rem;
    }
  }
  
  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
    }
    .header {
      padding: 2rem;
    }
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #fff;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar ul li {
      width: 100%;
    }
    .header .navbar ul li ul {
      position: relative;
      width: 100%;
    }
    .header .navbar ul li ul li a {
      padding-left: 4rem;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .home .slide .content h3 {
      font-size: 4rem;
    }
    .shopping-cart .box-container .box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
    }
  }